/*!CK:2104873305!*//*1438092977,*/

.sp_0JeL-nlyUTm{background-image:url(/rsrc.php/v2/yX/r/TDN9jSzROxy.png);background-size:35px 56px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_0JeL-nlyUTm.sx_b6461a{background-position:0 -17px}.sp_0JeL-nlyUTm.sx_c4d279{background-position:-13px -17px}.sp_0JeL-nlyUTm.sx_455edd{width:17px;height:16px;background-position:-17px 0}.selected .sp_0JeL-nlyUTm.sx_455edd{background-position:0 0}.sp_0JeL-nlyUTm.sx_505e18{background-position:0 -30px}.sp_0JeL-nlyUTm.sx_003d43{background-position:-13px -30px}.sp_0JeL-nlyUTm.sx_9dd949{background-position:0 -43px}

#bootloader_DHjyK { height: 42px; }
.bootloader_DHjyK { display:block !important; }